extends layout

block content
  h1 Recent Projects
  .thumbnails
    img(src='images/1.jpg', alt='1')
    img(src='images/2.png', alt='2')
    img(src='images/3.jpg', alt='3')
    img(src='images/4.jpg', alt='4')
  br
  a(href='/') Go Back to Home Page